<?xml version="1.0"?>
<ruleset name="Tau_CodeSniffer">
    <description>The coding standard for Tau2.</description>
    <file>src</file>

    <arg name="basepath" value="."/>
    <arg name="colors" />
    <arg name="parallel" value="75" />

	<rule ref="PSR12"/>
	<rule ref="PSR2"/>
    <rule ref="Squiz.WhiteSpace">
        <exclude name="Squiz.WhiteSpace.FunctionClosingBraceSpace.SpacingBeforeClose"/>
        <exclude name="Squiz.WhiteSpace.FunctionSpacing.AfterLast"/>
    </rule>
    <rule ref="Squiz.Strings.DoubleQuoteUsage"/>

    <!-- Covers rule: Braces shall be used for all blocks. -->
    <rule ref="Squiz.ControlStructures.ControlSignature"/>

    <!-- Covers rule: Braces should always be used, even when they are not required. -->
    <rule ref="Generic.ControlStructures.InlineControlStructure"/>
    <rule ref="Generic.CodeAnalysis"/>


</ruleset>
